// reset
@mixin unset-all {
  all: unset;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin reset-a {
  color: white;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}

@mixin reset-img {
  width: 100%;
}

@mixin reset-input {
  all: unset;
}

@mixin reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
}

// fonts
@mixin font-inria-sans-300 {
  font-family: $inria-sans;
  font-weight: 300;
  font-style: normal;
}

@mixin font-inria-sans-400 {
  font-family: $inria-sans;
  font-weight: 400;
  font-style: normal;
}

@mixin font-inria-sans-700 {
  font-family: $inria-sans;
  font-weight: 700;
  font-style: normal;
}

@mixin font-inter-400 {
  font-family: $inter;
  font-weight: 400;
  font-style: normal;
}

@mixin font-inter-500 {
  font-family: $inter;
  font-weight: 500;
  font-style: normal;
}

@mixin font-inter-700 {
  font-family: $inter;
  font-weight: 700;
  font-style: normal;
}

// Media Queries
@mixin ipad() {
  @media screen and (min-width: $ipad) {
    @content;
  }
}
@mixin ipadPro() {
  @media screen and (min-width: $ipadPro) {
    @content;
  }
}
@mixin laptop13() {
  @media screen and (min-width: $laptop13) {
    @content;
  }
}
@mixin laptop() {
  @media screen and (min-width: $laptop) {
    @content;
  }
}

@mixin pc() {
  @media screen and (min-width: $pc) {
    @content;
  }
}

@mixin bigPc() {
  @media screen and (min-width: $bigPc) {
    @content;
  }
}

@mixin fourK() {
  @media screen and (min-width: $fourK) {
    @content;
  }
}

